<!DOCTYPE html>
<html lang="en" ng-app="img_coll" ng-controller="LoaderCtrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title ng-cloak>{{ config.title }}</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body layout="column" layout-align="center" flex="80" flex-offset="10">
<div flex layout="row" ng-cloak>
    <div flex ng-view=""></div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-resource/angular-resource.min.js"></script>

<script src="https://material.angularjs.org/latest/angular-material.min.js"></script>

<script src="app/config.js"></script>
<script src="app/app.js"></script>
<script src="app/services.js"></script>
<script src="app/controllers.js"></script>

</body>
</html>