
<div>
    <div ng-if="dataLoading">
        Загрузка <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="!dataLoading">

        <md-input-container>
            <input type="text" placeholder="Поиск" ng-model="workData.searchText" ng-change="search()" />
        </md-input-container>
        <div>
                <md-checkbox ng-model="workData.reversed">
                    По убыванию
                </md-checkbox>
                <md-input-container>
                    <label>Кол-во</label>
                    <md-select ng-model="workData.itemsOnPage">
                        <md-option ng-repeat="o in itemNumberOptions" value="{{ o.val }}">{{ o.val }}</md-option>
                    </md-select>
                </md-input-container>
        </div>
        <span ng-if="workData.searchText.length > 0">Результатов: {{ imageData.length }}</span>
        <div layout="row" class="pages">
            <span ng-if="workData.currentPage > 5 && workData.numberOfPages > 10" ng-value="1" ng-click="setPage(1)" ng-class="'page-switch'" flex>Начало</span>
            <span ng-repeat="p in workData.pageSubList" ng-value="{{ p }}" ng-click="setPage(p)" flex>

                <span ng-class="p == workData.currentPage ? ['page-switch', 'page-selected'] : 'page-switch'">{{ p }}</span>
            </span>
            <span ng-if="workData.currentPage < workData.numberOfPages - 5 && workData.numberOfPages > 10" ng-value="{{ workData.numberOfPages }}" ng-click="setPage(workData.numberOfPages)" ng-class="'page-switch'" flex>Конец </span>
        </div>

        <div ng-repeat="d in workData.dataSubList" layout="row" class="post-container" ng-click="openPost(d.arrInd)">
            <div flex="10">{{ d.id }}</div>
            <div flex="80">{{ d.message }} <strong>{{ d.photo.length }} фото</strong></div>
            <div flex="10"><img ng-src="{{ d.photo[0].preview }}" class="md-user-avatar"></div>
        </div>
    </div>
</div>