<div ng-if="dataLoading">
    Загрузка <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!dataLoading">
    <h3>{{ postData.id }} ({{ postData.photo.length }} фото)</h3>
    <p>
        {{ postData.message }}

    </p>
    <p>
        Yandex.Диск:
        <a href="{{ config.yandexPath + postData.id }}" target="_blank">{{ config.yandexPath + postData.id }}</a>

    </p>
    <div ng-if="postData.photo && postData.photo.length > 1">
        <img ng-class="['preview-photo', $index==photoIndex ? 'active-preview' : '']" ng-repeat="p in postData.photo" ng-src="{{ p.preview }}" ng-click="changePhotoIndex($index)" />
    </div>
    <div>
        <img ng-class="'current-photo'" ng-src="{{ postData.photo[photoIndex].src }}"  ng-animate-swap="photoIndex" />
    </div>


</div>