.pages {
    padding-bottom: 40px;
}
.page-switch {
    cursor: pointer;
}
.page-selected {
    font-weight: bold;
}

.post-container {
    cursor: pointer;
    border-top: 1px solid #888888;
}

.preview-photo {
    cursor: pointer;
    opacity: 0.5;
}

.active-preview {
    opacity: 1;
}

.photo-hide {
    opacity: 0.25;
}
.current-photo {
    max-width: 100%;
}